{{> header}}

<div class="container">
    <br />
    <h1 style="text-align: center;">{{title}}</h1>
    <br />
    <h5 style="text align:center">Welcome to our college enrollment page, here you'll be able to perform the following:
    </h5>
    <br />
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Register and delete students, and modify their data</li>
        <li class="list-group-item">See our Student Database</li>
        <li class="list-group-item">Register and delete courses, and modify their data</li>
        <li class="list-group-item">See our Course Database</li>
        <li class="list-group-item">Register and delete enrollments, and modify their data</li>
        <li class="list-group-item">See our Enrollment Database</li>
    </ul>

    <br />

    <div class="text-center">
        <img src="https://www.utep.edu/extendeduniversity/utepconnect/blog/march-2019/the-hidden-benefits-of-earning-a-college-degree.jpg"
            alt="estudiantes">
    </div>

</div>